# 安全关闭：防止卡死版本、不让安装
engine-strict=false
package-manager-strict=false

# 依赖兼容：解决 peer 依赖报错
strict-peer-dependencies=false
auto-install-peers=true

# Windows + Taro 必备：平铺依赖，解决找不到模块
shamefully-hoist=true

# 解决符号链接找不到命令
node-linker=hoisted
enable-pre-post-scripts=true